{% extends 'layouts/base.twig' %}

{% block content %}
<section class="articles-section">
    <h2>My Articles</h2>
    <div class="article">
        <h3>Title of the Article</h3>

        <div class="article-header">
            <div class="metadata">
                <span class="time-logo">(time logo) 3 min read</span>
                <span class="calendar-logo">(calendar logo) 4 days ago</span>
            </div>
        </div>
        <div class="article-description">
            <p>An intense way to learn about the process and hackathon Hackathons have been on my mind gain experience An intense way to learn about the process and hackathon An intense way to learn about the process and hackathon Hackathons have been on my mind gain experience  Hackathons have been on my mind gain experience as a junior UX designer.</p>
            <div class="photo">
                <img src="../public/images/logoAS.png" alt="Article Photo">
            </div>
        </div>
        <a href="#" class="continue-reading">Continue reading</a>

    </div>
    <!-- Add more articles with the same structure here -->
</section>

{%  endblock %}